services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
      image: redis:7
      command: redis-server --requirepass ${REDIS_PASSWORD}
      ports:
        - "6379:6379"
  api:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

volumes:
  pgdata: